{% if not noDummy %}
    <footer class="d-lg-none opacity-0 w-100 p-2 small">
        © 2024 Universitas Negeri Makassar
    </footer>
{% endif %}

<footer class="d-lg-none position-fixed bottom-0 text-bg-primary w-100 p-2 text-center small">
    © 2024 Universitas Negeri Makassar
</footer>